<%- include('includes/header') %>
<body>
    <div>
    <div style="color: red; text-align: center; font-size: 60px;">Product Page</div>
    <div><%=member.memberNick%></div>
    </div>
</body>
<%- include('includes/footer') %>